
#title {
  text-align: center;
  padding-top: 50px;
  font-size: 45px;
}

h1 {
  font-size: 50px;
  padding-top: 10px;
}

.hidden {
  display: none;
}

#countdown-section {
  min-height: 90vh;
}
main {
  background-color: #c5d5c5;
}


#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#current-div {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#upcoming-div {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 5px;
}



#upcoming-h1 {
  text-align: right;
}

h2 {
  text-align: center;
}
#upcoming-php {
  list-style: none;
  text-align: right;
  font-size: 25px;
}

#add-destination {
  display: none;
  text-align: right;
}

#add-destination label{
  display: inline-block;
}
#form-toggle {
  text-align: ;
}

#map-div {
  width: 50vw;
  height: 400px;
}

#map {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

footer {
  background-color: #e3e0cc;
  padding-bottom: 5px;
  min-height: 10vh;
}
footer p{
  text-align: center;
  
}

/* For mobile phones */
@media only screen and (max-width: 800px), only screen and (max-device-width:800px){
  #title {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 80px;
  }
  #wrapper {
    flex-direction: column;
  }
  #map-div {
  margin-left: 2.5vw;
  width: 95vw;
  height: 50vh;
}
#upcoming-div {
  text-align: left;
}
#upcoming-h1 {
  text-align: left;
}
h1 {
  font-size: 70px;
}
h2 {
  text-align: left;
  font-size: 60px;
}
#upcoming-php {
  text-align: left;
  font-size: 40px;
}
#add-destination {
  font-size: 40px;
  text-align: left;
}
#add-destination input {
  width: 100%;
}
#form-toggle {
  text-align: left;
  font-size: 40px;
}
  
  #countdown-section{
  padding-bottom: 5vh;
}
  #countdown {
  font-size: 50px;
  }
  #date {
      font-size: 30px;
  }
  #map-section {
  height: 50vh;
  margin-bottom: 15vh;
}
footer {
  font-size: 30px;
  min-height: 0;
}
}